body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #0b1827;
  /* background: radial-gradient(rgb(0, 0, 0) 0px, #d9d9d9 30%, #ffffff 50%); */
  height: 100vh;
}

ul,
ol {
  list-style: none;
  padding: 0px;
}

.apexcharts-canvas {
  border: none !important;
}

.apexcharts-donut-series .apexcharts-slice {
  transition: fill 700ms ease;
}

.apexcharts-donut-series .apexcharts-slice:hover {
  fill: #ff5722 !important;
}
